:root {
    /* --primaryColor: #ff6060; */
    --primaryColor: #ff6060;
}
/* GLOBAL */
* {
    box-sizing: border-box;
    font-family: "Lato", "微軟正黑體";
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
html,body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,img {
    margin: 0;
    padding: 0;
    border: 0;
}
li {
    list-style: none;
}
img {
    width: 100%;
    vertical-align: top;
}
a {
    text-decoration: none;
    color: #000;
}
.btn {
    display: inline-block;
    padding: 8px 20px;
    background-color: var(--primaryColor);
    color: #fff;
    text-decoration: none;
}
h2 {
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
}
p {
    font-size: 14px;
    color: #333;
    line-height: 1.5em;
    font-weight: 300;
    letter-spacing: 1px;
}
/* GLOBAL */
/* GRID FOR DESKTOP */
.full-width {
    width: 100%;
}
.fixed-width {
    width: 1060px;
    margin: auto;
}
.col-12 {
    width: calc(100% / 12 * 12);
}
.col-11 {
    width: calc(100% / 12 * 11);
}
.col-10 {
    width: calc(100% / 12 * 10);
}
.col-9{
    width: calc(100% / 12 * 9);
}
.col-8{
    width: calc(100% / 12 * 8);
}
.col-7 {
    width: calc(100% / 12 * 7);
}
.col-6 {
    width: calc(100% / 12 * 6);
}
.col-5{
    width: calc(100% / 12 * 5);
}
.col-4 {
    width: calc(100% / 12 * 4);
}
.col-3 {
    width: calc(100% / 12 * 3);
}
.col-2 {
    width: calc(100% / 12 * 2);
}
.col-1 {
    width: calc(100% / 12 * 1);
}
[class*="col"] {
    float: left;
    padding: 10px;
}

.nopa {
    padding: 0!important;
    color: var(--primaryColor);
}
/* nav-info */
#nav-info {
    padding-top: 20px;
    padding-bottom: 20px;
    /* position: fixed; */
    position: absolute;
    background-color: rgba(255,255,255,.7)
}
#nav-info a {
    display: block;
    padding: 8px 15px;
}
#nav-info .addr {
    float: left;
    padding: 8px 15px;
}
#nav-info .register {
    float: right;
}
#nav-info .register li {
    float: left;
}
#nav-info .donate {
    float: right;
}
nav {
    padding-top: 20px;
    padding-bottom: 20px;
    /* position: fixed; */
    position: absolute;
    top: 78px;
    background-color: rgba(255,255,255,.7)
}
nav .logo {
    float: left;
}
nav .menu {
    float: right;
}
nav .menu li {
    float: left;
}
nav a {
    display: block;
    padding: 8px 15px;
}
/* header */
header {
    height: 800px;
    background-image: url(../images/header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* feature */
#feature {
    padding-top: 50px;
    padding-bottom: 50px;
}
/* #feature h2, #gallery h2 {
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
} */
#feature h3 {
    font-size: 30px;
    font-weight: 300;
    line-height: 1em;
    padding-top: 15px;
    padding-bottom: 15px;
}
#feature p {
    padding-top: 15px;
    padding-bottom: 30px; 
}
#feature .col-5 {
    padding: 100px;
}
.line,.line--light {
    position: relative;
}
.line::before {
    content: "";
    display: block;
    position: absolute;
    border-top: 3px solid var(--primaryColor);
    width: 60px;
    top: 22px;
    left: 22px;
}
.line--light::before {
    content: "";
    display: block;
    position: absolute;
    border-top: 3px solid #fff;
    width: 60px;
    top: 22px;
    left: 22px;
}

/*Events*/
#events {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: 
    linear-gradient(rgb(255, 96, 96,.6),rgb(255, 96, 96,.6)),
    url(https://source.unsplash.com/random/1200x300);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    color: #fff;
}

#events p {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
}

/*gallery*/
#gallery {
    padding-top: 50px;
    padding-bottom: 50px;
}
